<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mtc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android:permission.BIND_JOB_SERVICE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MTC"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".ThongTinSinhVien"
            android:exported="false" />
        <activity
            android:name=".DetailSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".DangNhap"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhau3"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhau2"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhau"
            android:exported="false" />
        <activity
            android:name=".DangKi3"
            android:exported="false" />
        <activity
            android:name=".DangKi2"
            android:exported="false" />
        <activity
            android:name=".DangKi"
            android:exported="false" />
        <activity android:name=".activity.GioHangActivity"
            android:exported="false"/>
        <activity android:name=".TrangChu" /> <!-- <activity android:name=".sp_nc_LienHe"/> -->
        <activity android:name=".sp_SanPham" />
        <activity
            android:name=".XinChao"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>